# Welcome to the NATS project Away Day event!

This notebook should help give a guide to the commands that are available to pilots and how to control the aircraft following a command from an Air Traffic Control Officer (ATCO)

We will be using the Python package `dodo` which is the programming interface to Bluesky which is an open source simulator being used under the hood. For more details of how the simulator interacts with `bluebird`, a simulator agnostic interface layer developed in house at the Turing, you can have a look at the [Simurgh](https://alan-turing-institute.github.io/simurgh/) project

# Playing with `dodo`

This notebook works as an introduction to using the `dodo` package in Python (PyDodo).

Let's get started by importing `pydodo` and getting information about all the planes in the simulation.

In [1]:
import pydodo

In [2]:
pydodo.all_positions()

        type  altitude  ground_speed  latitude  longitude  vertical_speed
BEE770  C550  16998.03           185  51.51020    2.18420               0
BXI524  B737  37998.69           243  51.50495   -3.33406               0
VIR841  B737  30997.38           215  51.50692    2.44401               0

You should be able to see these planes in Twitcher too, have a look for some of the above...

Althought there are a number of functions available to you as pilots, the only command to be used will be: <br> `change_altitude()`

First we can try to change the altitude of `BAW655`. To inspect a single aircarft of a given callsign we can use `aircraft_position(aircraft_id)` function.

So, if we inspect `BAW655` we see it is at an altitude of ~ 36,000 ft

In [4]:
pydodo.aircraft_position('VIR841')

        type  altitude  ground_speed  latitude  longitude  vertical_speed
VIR841  B737  21998.03           187  51.20393   26.30625               0

We can instruct it to change to flight level 320 (32,000 ft) by issuing this command:

In [5]:
pydodo.change_altitude('VIR841', flight_level=220)

True

Now if we get position the position again, we can see how this is different from the previous table.

**NOTE** : this may take some time for a visible effect, the give away that something is happening can be seen with the `vertical_speed` would have clearly changed...

In [6]:
pydodo.aircraft_position('VIR841')

        type  altitude  ground_speed  latitude  longitude  vertical_speed
VIR841  B737  21998.03           187  51.20371   26.32345               0

Below is how it compares to the other planes

In [10]:
pydodo.all_positions()

        type  altitude  ground_speed  latitude  longitude  vertical_speed
BAW173  B737  30000.00           364  51.53364   -0.76724               0
BAW238  A388  35997.38           345  51.53437    1.56709               0
BAW373  B737  30000.00           364  51.53500    2.03698               0
BAW438  A388  20000.00           275  51.53372   -2.14685               0
BAW573  B737  35997.38           393  51.53600    2.68077               0
BAW655  C550  35869.42           422  51.54019   -6.81702              -7

#### Now we have a basic overview of how to control the aircraft, let's play!