# Welcome to the NATS project Away Day event!

This notebook should help give a guide to the commands that are available to pilots and how to control the aircraft following a command from an Air Traffic Control Officer (ATCO)

We will be using the Python package `dodo` which is the programming interface to Bluesky which is an open source simulator being used under the hood. For more details of how the simulator interacts with `bluebird`, a simulator agnostic interface layer developed in house at the Turing, you can have a look at the [Simurgh](https://alan-turing-institute.github.io/simurgh/) project

# Playing with `dodo`

This notebook works as an introduction to using the `dodo` package, specifically in Python, for those who would prefer to work in `R`, please use [this](../notebooks/R-example-notebook.ipynb) notebook.

Let's get started by importing `pydodo` and loading in a "scenario" file

In [1]:
import pydodo

**THIS WILL BE UPLOADED MANUALLY ON THE NATS TEAM SIDE BEHIND THE SCENES**

In [16]:

pydodo.simulation_control.create_scenario('./awayday_scenario_1.scn', 'away')

True

In [9]:
pydodo.load_scenario('away')

True

This will have filled the skies with aircraft in your sector. To see the positions of these aircraft, one can run:

In [10]:
pydodo.all_positions()

         type  altitude  ground_speed  latitude  longitude  vertical_speed
BA1B737  B737  30000.00           384  51.53016   -0.98992               0
BA2A388  A388  35997.38           366  51.53016    1.77866               0
BA3B737  B737  30000.00           384  51.53016    2.25960               0
BA4A388  A388  20000.00           295  51.53016   -2.31661               0
BA5B737  B737  35997.38           414  51.53016    2.92077               0
BA6C550  C550  35997.38           443  51.53016   -7.07404               0

You should be able to see these planes in Twitcher too, have a look for some of the above...

Althought there are a number of functions available to you as pilots, the only two commands to be used will be: <br> `change_altitude()`, `change_heading()`, ...

The documentation for Pydodo's overall API can be found in `dodo/PyDodo/docs` which can be built locally with: <br>
```
cd dodo/PyDodo/docs && make clean && make html && open _build/html/index.html
```
However, since there will be only a handful of commands for controlling the aircraft, the main one of interest will be found in `pydodo.aircraft_control`.

##### Let's try some of these controls out now!

First we can try to change the altitude of `BA6C550`. A useful set of commands to monitor aircraft can be found in `pydodo.request_position`. To inspect a single aircarft of a given callsign we can use `aircraft_position(aircraft_id)` function.

So, if we inspect `BA6C550` we see it is at an altitude of ~ 36,000 ft

We can instruct it to change to flight level 320 (32,000 ft) by issuing this command:

In [11]:
pydodo.change_altitude('BA6C550', flight_level=320)

True

Now if we get position the position again, we can see how this is different from the previous table.

**NOTE** : this may take some time for a visible effect, the give away that something is happening can be seen with the `vertical_speed` would have clearly changed...

In [14]:
pydodo.request_position.aircraft_position('BA6C550')

         type  altitude  ground_speed  latitude  longitude  vertical_speed
BA6C550  C550  35262.47           350  51.57039   -6.00791              -7

Below is how it compares to the other planes

In [13]:
pydodo.all_positions()

         type  altitude  ground_speed  latitude  longitude  vertical_speed
BA1B737  B737  30000.00           297  51.54158   -0.12652               0
BA2A388  A388  35997.38           278  51.54474    0.96253               0
BA3B737  B737  30000.00           297  51.54712    1.39638               0
BA4A388  A388  20000.00           208  51.54285   -1.67858               0
BA5B737  B737  35997.38           326  51.55085    1.98345               0
BA6C550  C550  35538.06           355  51.56847   -6.06398              -7

Say we want to change heading, this is simply `change_heading()` function.

In [15]:
# Change aircraft id: SCN1003 to move to heading 280 degrees
pydodo.aircraft_control.change_heading('BA6C550', 280)

True

#### Now we have a basic overview of how to control the aircraft, let's play!