# Welcome to the NATS project Away Day event!

This notebook should help give a guide to the commands that are available to pilots and how to control the aircraft following a command from an Air Traffic Control Officer (ATCO)

We will be using the Python package `dodo` which is the programming interface to Bluesky which is an open source simulator being used under the hood. For more details of how the simulator interacts with `bluebird`, a simulator agnostic interface layer developed in house at the Turing, you can have a look at the [Simurgh](https://alan-turing-institute.github.io/simurgh/) project

# Playing with `dodo`

This notebook works as an introduction to using the `dodo` package, specifically in Python, for those who would prefer to work in `R`, please use [this](../notebooks/R-example-notebook.ipynb) notebook.

Let's get started by importing `pydodo` and loading in a "scenario" file

In [14]:
import pydodo

In [ ]:
# The path is relative to bluesky, so it actually looks in bluesky/scenario/8.SCN

In [20]:
# This scenario contains the wrong callsigns, this could have implications on the speed

```
bluesky     | WARNING: Aircraft type: B747 was not found. It is set to A320.
bluesky     | WARNING: Aircraft type: B747 was not found. It is set to A320.
bluesky     | WARNING: Aircraft type: B747 was not found. It is set to A320.
bluesky     | send_multipart: [b'*', b'\x00\xa1\x13\xd2\x8c', b'ECHO', b'\x82\xa4text\xb8Unknown command: METRICS\xa5flags\x04']
```

In [15]:
pydodo.load_scenario('8.SCN')

True

This will have filled the skies with aircraft in your sector. To see the positions of these aircraft, one can run:

In [16]:
pydodo.all_positions()

         type  altitude  ground_speed  latitude  longitude  vertical_speed
SCN1001  B747  20000.00           297  53.80000    2.07017               0
SCN1002  B747  20000.00           297  51.36655    4.30965               0
SCN1003  B747  20000.00           297  53.80000    8.27017               0
SCN1004  B747  20000.00           297  50.15000    8.27251               0
SCN1005  B747   7998.69           253  51.56503    5.20000               0
SCN1008  B747  20000.00           297  50.15000    8.27251               0

You should be able to see these planes in Twitcher too, for example:

Althought there are a number of functions available to you as pilots, the only two commands to be used will be: <br> `change_altitude()`, `change_heading()`, ...

The documentation for Pydodo's overall API can be found [here](..), however, since there will be only a handful of commands for controlling the aircraft, the main one of interest will be found in `aircraft_control` : file:///Users/tallamjr/PhD/cdt/placement/repos/simurgh/dodo/PyDodo/docs/_build/html/apidoc/aircraft_control.html

Let's try some of these controls out now!

First we can try to change the altitture of CALLSIGN. Notice from above it was at ----, we can instruct it to change to flight level by issuing this command:

In [17]:
pydodo.change_altitude('SCN1003', 2000)

True

Now if we run get position, we can see how this is different from the previous table.

In [18]:
pydodo.all_positions()

         type  altitude  ground_speed  latitude  longitude  vertical_speed
SCN1001  B747  20000.00           247  53.80000    1.65838               0
SCN1002  B747  20000.00           247  51.59509    4.44322               0
SCN1003  B747  18750.00           247  53.80000    7.85838              -7
SCN1004  B747  20000.00           247  50.15000    7.89296               0
SCN1005  B747   7998.69           203  51.76901    5.20000               0
SCN1008  B747  20000.00           247  50.15000    7.89296               0

Say we want to change heading, this is simply `change_heading`, now when we do get position again we see how that also changes.

#### Now we have a basic overview of how to control the aircraft, let's play!

Shall we reset simulation at this point and load in another scenario file? 

Maybe we could do this by ssh-ing into the VM and running python on there. If this is possible then we could also do things like adding the jet crafts at a random point etc (assuming the override of autopilot and speeds is possible)