# Playing with `dodo`

This notebook works as an introduction to using the `dodo` package

In [1]:
import pydodo

In [2]:
pydodo.all_positions()

Empty DataFrame
Columns: [type, altitude, ground_speed, latitude, longitude, vertical_speed]
Index: []

In [18]:
pydodo.create_aircraft('BA9', 'b737', 10., 10., 10., 2000, 200)

True

In [ ]:
pydodo.config_param()

In [4]:
pydodo.all_positions()

     type  altitude  ground_speed  latitude  longitude  vertical_speed
BA1  B737    196.85          1029  10.00957   10.00171               0

In [5]:
pydodo.change_altitude('BA1', 2000)

True

In [6]:
pydodo.all_positions()

     type  altitude  ground_speed  latitude  longitude  vertical_speed
BA1  B737    200.13          1028  10.02233     10.004               0

In [7]:
pydodo.list_route('BA1')

Empty DataFrame
Columns: [requested_altitude, requested_speed, current]
Index: []

In [8]:
pydodo.create_aircraft('BA2', 'B747', 10., 10., 10., 2000, 200)

True

In [9]:
pydodo.all_positions()

     type  altitude  ground_speed  latitude  longitude  vertical_speed
BA1  B737    213.25          1027  10.04054   10.00726               3
BA2  B747    196.85          1029  10.00456   10.00082               0

In [10]:
pydodo.distance_measures.geodesic_distance(10., 10., 15, 15)

775316.4027580426

In [11]:
pydodo.distance_measures.get_separation('BA1', 'BA2', 'geodesic')

             BA2
BA1  4020.534266

In [12]:
pydodo.create_aircraft('BA3', 'B787', 10., 10., 10., 2000, 200)

True

In [13]:
pydodo.distance_measures.get_separation('BA1', 'BA3', 'geodesic')

              BA3
BA1  16173.251243

In [14]:
pydodo.aircraft_position('BA3')

     type  altitude  ground_speed  latitude  longitude  vertical_speed
BA3  B787    196.85          1029  10.00729   10.00131               0

In [15]:
pydodo.request_position.get_position('BA3')

     type  altitude  ground_speed  latitude  longitude  vertical_speed
BA3  B787        60          1029  10.01094   10.00196               0

In [ ]:
pydodo.create_aircraft()